*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

body{
    background-color:#3b3b3b;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    height: 100px;

}

/* NAVBAR----------------------------------------------------------- */
.navbar{
    font-weight: bolder;
}
.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: 60px;
    transition: .3s;
}


.navbar a.active{
    color:#3b3b3b;
}

.navbar a:hover:not(:active){
    color:#3b3b3b;
}
/*ABOUT----------------------------------------------------------- */
.Content {
    display: flex;
    padding: 0 10%;
    /* margin-top: 500px; Remove this line */
    margin: 0;
    margin-bottom: 50px;
}

.about-content {
    /* margin-bottom: 650px; Remove this line */
    /* margin-left: -900; Remove this line */
    width: 1500px;
    text-align: center;
}

.about-content h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #969696;
    font-weight: 900;
}

.about-content p {
    margin-top: 40px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}


#skillimage {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    gap: 200px;
}

#skillimage #move1 {
    margin-left: 150px;
}

#skillimage #move2 {
    margin-left: 50px;
}

#skillimage #move3 {
    margin-right: 150px;
}

#skillimage #move1 .m1{
    text-align: left;
}

#skillimage #move2 .m2{
    text-align: left;
}
#skillimage #move3 .m3{
    text-align: left;
}
#skillimage #move4 .m4{
    text-align: left;
}
#skillimage #move5 .m5{
    text-align: left;
}
#skillimage #move6 .m6{
    text-align: left;
}
#skillimage #move7 .m7{
    text-align: left;
}
#skillimage #move8 .m8{
    text-align: left;
}
#skillimage #move9 .m9{
    text-align: left;
}



.about-content {
    /* margin-bottom: 650px; Remove this line */
    /* margin-left: -900; Remove this line */
    width: 1500px;
    text-align: center;
}

.about-content h1 {
    font-weight: 900;
    margin-top: 30px;
    font-size: 80px;
    color: rgb(255, 255, 255);
}



.about-content img {
    height: 200px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.about-content p {
    margin-top: 40px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: justify;
}

.about-content h2{
    color: rgb(235, 218, 125);
}

.about-content h3{
    font-weight: 1000;
}

.about-content h4{
    color: rgb(255, 255, 255);
    font-weight: 1000;
}

.about-content .MOTORS1 {
    margin-top: 100px;
    margin-left: -150px;

}

.about-content .MOTORS2 {
    margin-top: 100px;
    margin-left: -120px;

}

.about-content .MOTORS3 {
    margin-top: 100px;
    margin-left: -110px;
}


.MOTORS2 #move4{
    margin-left:170px;
}

.MOTORS2 #move5{
    margin-left: 100px;
}

.MOTORS3 #move7{
    margin-left: 100px ;
}

.MOTORS3 #move8{
    margin-left: 65px ;
}


/* ABOUT----------------------------------------------------------- */
/* Extracontent----------------------------------------------------------*/
.extracontent {
    height: auto;
    display: flex;
    align-items: center;
    padding: 0 5%;
    margin: auto;
    justify-content: space-between;
    gap: 5px;
    background-color:#b1b1b1;
    background-image: url(pictures/contactbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Extracontent----------------------------------------------------------*/

.extracontent #brands {
    font-weight: 900;
    margin-top: 30px;
    font-size: 90px;
    color: rgb(255, 255, 255);
    margin-bottom: 1150px;
    margin-left: 500px;
    width: 100%;
}



.yamaha .yamaha1{
    margin-bottom: 500px;
    margin-left: -950px;
}

.kawasaki .kawasaki1{
    margin-bottom: 500px;
    margin-left: -425px;
}

.ducati .ducati1{
    margin-bottom: 500px;
    margin-right: -80px;
    margin-left: 100px;
}

.suzuki .suzuki1{
    margin-top: 700px;
    margin-left: -1700px;
    height: 150px;
}

.bmw .bmw1{
    margin-top: 700px;
    margin-left: -1000px;
    height: 300px;
}

.honda .honda1{
    margin-top: 700px;
    margin-left: -500px;
    height: 200px;
}