*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

body{
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    height: 100px;

}

/* NAVBAR----------------------------------------------------------- */
.navbar{
    font-weight: bolder;
}

.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: 60px;
    transition: .3s;
}


.navbar a.active{
    color:#3b3b3b;
}

.navbar a:hover:not(:active){
    color:#3b3b3b;
}
/* CONTACT----------------------------------------------------------- */


#mainbox1 {
    background-color: #333D79FF;
    box-shadow: 15px 15px 5px #444;
    margin: auto;
    margin-top: 380px;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    width: 400px;
    height: 200px;
}

#mainbox1 a{
    text-decoration: none;
    color: white;
}


#mainbox1.active{
    color:#ffffff;
    box-shadow: 15px 15px 5px #ffffff;
}

#mainbox1:hover:not(:active){
    color:#ececec;
    box-shadow: 15px 15px 5px #ffffff;
}

#mainbox2 {
    background-color: #333D79FF;
    box-shadow: 15px 15px 5px #444;
    margin: auto;
    margin-top: 400px;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    width: 400px;
    height: 200px;
}

#mainbox2 a{
    color: white;
    text-decoration: none;
}
#mainbox2.active{
    color:#ffffff;
    box-shadow: 15px 15px 5px #ffffff;
}

#mainbox2:hover:not(:active){
    color:#ececec;
    box-shadow: 15px 15px 5px #ffffff;
}


#mainbox3 {
    background-color:#333D79FF ;
    box-shadow: 15px 15px 5px #444;
    margin: auto;
    margin-top: 380px;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    width: 400px;
    height: 200px;
}

#mainbox3 a{
    color: white;
    text-decoration: none;
}

#mainbox3.active{
    color:#ffffff;
    box-shadow: 15px 15px 5px #ffffff;
}

#mainbox3:hover:not(:active){
    color:#ececec;
    box-shadow: 15px 15px 5px #ffffff;
}


.contact {
    height: 35vh;
    display: flex;
    align-items: center;
    padding: 0 5%;
    margin: auto;
    justify-content: space-between;
    gap: 5px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.contact .box{
    text-align: center;
}
.contact .imagesize{
    height: 100px;
    margin-top: -50px;

}

#mainbox1 #text1{
    font-size: 30PX;
    height: 100px;
    margin-left: 80px;
    margin-top: 50px;
    font-weight: 1000;

}


#mainbox2 #text2{
    font-size: 30px;
    height: 100px;
    margin-left: 80px;
    margin-top: 50px;
    font-weight: 1000;
}


#mainbox3 #text3{
    font-size: 30px;
    height: 100px;
    margin-left: 80px;
    margin-top: 50px;
    font-weight: 1000;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


